html {
    height: 100%;
}
body{
    margin: 0;
    background-image: url('https://media.istockphoto.com/id/1419844586/vector/stem-blue-horizontal-frame-vector-education-bright-illustration.jpg?s=612x612&w=0&k=20&c=-A1eYLYulujNsiM26lkVy7qMT_Hp82N5EtKHSFRmigk=');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0;
    height: 100%;
}
h1 {
    text-align: center;
    color: rgb(240, 215, 255);
    text-transform: uppercase;
    width: 300px;
    background-color: black;
    padding: 24px 12px;
    margin-bottom: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
}
#calculator {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
    background-color: black;
    
}
input[type="text"] {
    width: 95%;
    margin-bottom: 10px;
    padding: 5px;
    grid-column: span 4;
    background-color: black;
    text-align: right;
    letter-spacing: 3px;
    border: none;
}
#display {
    border-top: 1px solid wheat;
    border-right: 1px solid wheat;
    border-left: 1px solid wheat;
    font-size: 25px;
    color: white;
}
#result {
    border-bottom: 1px solid wheat;
    border-right: 1px solid wheat;
    border-left: 1px solid wheat;
    font-size: 30px;
    color: lime;
}
input[type="button"] {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    border-radius: 30%;
}
input[type="button"]:hover {
    background-color: #888888;
    color: white;
}
.compute {
    grid-column: span 2 ;
    width: 125px !important;
}
.footer{
    text-align: center;
    color: rgb(240, 215, 255);
    width: 300px;
    background-color: black;
    padding: 12px;
    /* margin-top: auto; */
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
}
